/* BEAUTIFUL CARDS, YES I KNOW THANKS */
/* Grid Cards */
/* Images */

#air2 {
	background-image: url(../../images/mavic-air-2.jpg);
}
#om4 {
	background-image: url(../../images/om-4.jpg);
}
#member {
	background-image: url(../../images/membership.jpg);
}
#pixel {
	background-image: url(../../images/skypixel-6th.jpg);
}

/* Cards */

.cards {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}
.card {
	background-position: center;
	background-size: 927.5px 576px;
	height: 576px; 
	width: 927.5px;
	margin: 15px 15px 10px -25px;
	border-radius: 6px;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	text-align: center;
}
@media (max-width: 927.5px) {
  .card {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .card {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}

/* Three Cards */
/* Images */

#vid-prod {
	background-image: url(../../images/vid-prod.jpg);
}
#agri {
	background-image: url(../../images/agriculture.jpg);
}
#enterprise {
	background-image: url(../../images/entreprise.jpg);
}

/* Cards */

.explore-cards {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.explore-card {
	background-position: center;
	background-size: 583.5px 768px;
	height: 768px; 
	width: 583.5px;
	border-radius: 6px;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	text-align: center;
	margin-bottom: 20px;
}
@media (max-width: 768px) {
  .explore-card {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .explore-card {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .explore-card {
    width: 300px;
  }
}

/* Icons */

.icons {
	background: rgb(200, 200, 200);
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 150px;
	padding-bottom: 100px;
	text-align: center;
	font-weight: 600;
}